@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Stardos+Stencil:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Nunito';
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    color:#ffffff;
}
/*HEADER STYLES*/
header{
background-color: darkgreen;
padding: 0 1rem;
position:fixed;
z-index: 99;
width:100%;
box-shadow: 0 2px 2px black;
display:flex;
justify-content: space-between;
align-items: baseline;
}
header a{
    color:#ffffff;
    font-family:'Stardos Stencil';
    text-decoration: none;
    letter-spacing: 2px;
    padding-top:5px;
}
#menu{
    list-style-type: none;
    font: 110%;
}
#menu>li{
    margin-bottom: 1em;
}
/*NAVBAR STYLES*/
nav{
    position:absolute;
    background-color: darkgreen;
    width:100%;
    left:0;
    padding:0 1rem;
    box-shadow: 0 2px 2px black;
    display:none;
    top:100%;
}
#nav-toggle:checked~nav{
    display:block;
}
#nav-toggle{
    display:none;
}
.nav-toggle-label{
    font-size: 2rem;
}
/*MAIN STYLES*/
main{
background-color: #3e7a32;
flex: 1 0 auto;
margin-top: 93px;
background-image: url('/assets/images/peakpx.jpg');
background-size: cover;
background-position: center;
}
#hero-image {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    object-position: center 70%; 
    z-index: 1;
}

#hero {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: inherit;
    z-index: 2;
}

.hero-text p {
    font-size: 2rem;
    margin: 0;
    font-family: 'Stardos Stencil';
    background-color: rgba(0,0,0,0.5);
}
.introduction{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:0 20px;
    text-align: center;
}
.introduction p{
    max-width: 800px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
/*LATEST BATTLES STYLES*/
.container1{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#battle-title {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
    font-family: 'Stardos Stencil';
}

.battle-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; 
}

.battle {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #3e7a32;
    height:150px;
}

.battle div {
    flex: 1;
    padding: 20px;
    
}
.battle div a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Stardos Stencil';
    font-size: 130%;
}

.battle img {
    margin-left: auto;
    max-width: 150px;
    max-height: 150px;
}
/*FOOTER STYLES*/
footer{
background-color: grey;
width:100%;
position:fixed;
bottom:0;
font-size: 120%;
}
#social-networks{
    display:flex;
    justify-content: center;
    list-style-type:none;
}
#social-networks a{
    text-decoration: none;
    color:inherit;
    margin: 0 2.5rem;
}




/*ALL MEDIA QUERIES*/
@media (min-width: 366px) {
    main {
        margin-top: 49px;
    }
}
@media (min-width:366px) and (max-width:372px) {
    main{
        margin-top:93px;
    }
}

/* TABLET MEDIA QUERIES 768PX AND UP */
@media screen and (min-width: 768px) {
    /* HEADER QUERIES */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    /* MAIN CONTENT TABLET QUERIES */
    main {
        margin-top: 60.5px;
    }
    
    
}
@media screen and (max-width: 768px) {
    .hero-text {
        top: 80px; 
        transform: translate(-50%, -50%);
        margin-top:20px;
    }}